version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: codeeval-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=radi
      - POSTGRES_DB=codeevaluator
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql 
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d codeevaluator"]
      interval: 5s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    container_name: codeeval-pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "8080:80"
    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata: